.Coin {
    padding: 5px;
    border-radius: 5px; 
    border: 1px solid gray;
}
.Coin:hover{
    box-shadow: 0px 0px 0.5em rgba(0, 0, 0, 0.569);
}
.Coin-Header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.Coin-Name{
    font-weight: 600;
    text-align: left;
}
.Coin-Name,.Coin-Price{
    margin: 0;
    text-align: center;
}
.Coin-Link{
    text-decoration: none;
    color: black;
}
.Coin-Link:hover{
    color: black;
}
.Coin-Percent{
    font-size: 0.8em;
    font-style: italic;
}
.Coin-Price_red{
    color: red;
}

.Coin-Price_green{
    color: green;
}


@media only screen and (min-width : 600px) {
   
}

@media only screen and (min-width : 768px) {
  
}
