.Nav{
    background: #5454dd;
    padding: 0.5em;
    border-radius: 5px;
}
.Nav-List{
    list-style-type: none;
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    gap: 0.5em;
    margin-bottom: 0;
    padding-left: 0;
}
.Nav-Item{
}

.Nav-Item_magnified{
    animation: scale 0.2s linear;    
}

.Nav-Link{
    text-decoration: none;
    color: white;
}
.Nav-Link:hover{
    color: white;
}