.Nav{
    background: #5454dd;
    padding: 0.5em;
    border-radius: 5px;
}
.Nav-List{
    list-style-type: none;
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    gap: 0.5em;
}
.Nav-Item{
}

.Nav-Item_magnified{
    animation: scale 0.2s linear;    
}

.Nav-Link{
    text-decoration: none;
    color: white;
}

@keyframes scale {
    0%{
        transform: scale(1)
    }
    50%{
        transform: scale(2)
    }
    100%{
        transform: scale(1)
    }
}